//Тут стандартные настройки
@import "src/styles";

.header {
  background-color: $main-color;
  height: 100%;
  position: relative;

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: 0 20px;
  }

  .header__block-auth {
    position: absolute;
    left: 90%;

  }

  &__button {
    background-color: $main-color;
    position: absolute;
    height: 25px;
    width: 40px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all 500ms;

    &:hover.el-center {
      left: 5px;
      transition: 500ms;

    }

    div {
      background-color: white;
      width: 100%;
      height: 3px;
      left: 0;
    }

    //Пример того как можно сделать на псевдо элементах
    //&:before,
    //&:after,
    //{
    //  content: '';
    //  background-color: white;
    //  width: 100%;
    //  height: 3px;
    //  left: 0;
    //}
    //
    //&:before {
    //  top:0;
    //}
    //
    //&:after {
    //  bottom: 0;
    //}
  }

  &__title {
    width: 100%;
    height: 100%;
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
