<mat-tab-group class="tab-container">
  <mat-tab class="tab" label="GET_ALL">
    <app-get-tab-all></app-get-tab-all>
  </mat-tab>
  <mat-tab class="tab" label="GET">
    <app-get-tab></app-get-tab>
  </mat-tab>
  <mat-tab class="tab" label="POST">
    <app-post-tab></app-post-tab>
  </mat-tab>
  <mat-tab class="tab" label="PUT">
    <button mat-raised-button>Получить все</button>

    <div class="tab-content">

    </div>
  </mat-tab>
  <mat-tab class="tab" label="DELETE">
    <button mat-raised-button>Получить все</button>

    <div class="tab-content">

    </div>
  </mat-tab>
</mat-tab-group>


<!-- Copyright 2022 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
