::ng-deep .tab-container {
  max-width: 1200px;
  width: 100%;
  min-height: 500px;
  padding: 10px;
}

::ng-deep .tab {
  padding: 10px;
  min-height: 500px;
}

::ng-deep .tab-content {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid grey;
  max-width: 1160px;
  min-width: 100%;
}

::ng-deep .todo {
  border: 1px solid red;
  padding: 5px;
  margin-bottom: 5px;
}
