@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}

ul {
  list-style: none;
}

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

//Блок с перемеными
$main-color: #FF4D4D;
//Блок с перемеными

a {
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: solid white;
    cursor: pointer;
  }
}

body {
  height: 100%;
}

.header-component {
  height: 100px;
}

.main-component {
  flex: 1 1 auto;
}

.footer-component {
  height: 50px;
  text-align: center;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container-component {
  padding: 20px;
}

.active {
  color: black;
}


//mat стили
::ng-deep .mat-tab-body-wrapper {
  min-height: 500px;
  padding: 10px;
}
//mat стили
